<nav class="navbar navbar-static-top" role="navigation">
    <a class="navbar-minimalize minimalize-styl-2 " href="#">
        <i class="fa fa-bars"></i>
    </a>
    <div class="col-md-3 logo-container"><img alt="MCM Builder" title="MCM Builder" class="img-circle"
                                              src="{{ asset('img/images/mcm-builder.png') }}"/></div>
    {#<div class="navbar-header">
        <form role="search" class="navbar-form-custom" action="search_results.html">


            <div class="form-group">
                <div class="input-group input-group-no-border">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div></div>

        </form>
    </div>
    #}
    <ul class="nav navbar-top-links navbar-right" id="langBlc">
        {#<li>
            <span class="m-r-sm text-muted welcome-message">{{ 'welcome_to_clm' | trans }}</span>
        </li>#}
        <li>
        <li>
            {% if app.user.company.veevaUrl is not empty and app.user.company.veevaApi is not empty %}


                {% if app.session.get('TokenUserVeeva') %}
                    <a id="veeva-connect-navbar" class="connected-vault" href="#" data-toggle="modal"
                       data-target="#vaultConnectModal">
                    </a>
                {% else %}
                    <a id="veeva-connect-navbar" class="disconnected-vault" href="#" data-toggle="modal"
                       data-target="#vaultConnectModal">
                    </a>
                {% endif %}

            {% else %}
                <a class="blocked-vault-logo" id="veeva-connect-navbar" href="#"
                   title="Your company has no Vault URL configured. Please contact your administrator.">
                    <div class="blocked-access-vault"><i class="fa fa-check" aria-hidden="true"></i></div>
                </a>
            {% endif %}

        </li>
        </li>
        {% if trans %}
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="empty_page.html#">
                    <i class="fa fa-flag-o" aria-hidden="true"> | {{ app.request.locale }}</i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="{{ localize_route('en') }}"><i class="fa fa-flag-o"
                                                                aria-hidden="true"></i>&nbsp;&nbsp;{{ 'english' | trans({}, 'messages') }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ localize_route('fr') }}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;
                            {{ 'french' | trans({}, 'messages') }}</a>
                    </li>
                    <li class="divider"></li>
                    {# <li>
                         <a href="{{ localize_route('ar') }}"><i class="fa fa-flag-o" aria-hidden="true"></i>&nbsp;&nbsp;
                             {{ 'debug' | trans({}, 'messages') }}</a>
                     </li>#}
                    <li class="divider"></li>
                </ul>
            </li>
        {% endif %}
        {#<li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="empty_page.html#">
                <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="{{ asset('img/a7.jpg') }}">
                        </a>
                        <div class="media-body">
                            <small class="pull-right">46h ago</small>
                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="{{ asset('img/a4.jpg') }}">
                        </a>
                        <div class="media-body ">
                            <small class="pull-right text-navy">5h ago</small>
                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="{{ asset('img/profile.jpg') }}">
                        </a>
                        <div class="media-body ">
                            <small class="pull-right">23h ago</small>
                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                #}{#<li>
                    <div class="text-center link-block">
                        <a href="mailbox.html">
                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                        </a>
                    </div>
                </li>#}{#
            </ul>
        </li>
        #}{#<li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="empty_page.html#">
                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="mailbox.html">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="profile.html">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="grid_options.html">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="notifications.html">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>#}

        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-sign-out"></i>
            </a>
        </li>
        {#<li>
            <a class="right-sidebar-toggle">
                <i class="fa fa-tasks"></i>
            </a>
        </li>#}
    </ul>

</nav>

{{ include('@BackOffice/Contents/alert.html.twig') }}