{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Update user{% endblock %}
{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ 'users' | trans({}, 'users') }}</h2>
        <ol class="breadcrumb">

            <li class="active">
                <strong>{{ 'users' | trans({}, 'users') }} | {{ 'users.password_update' | trans({}, 'users') }}</strong>
            </li>
        </ol>
    </div>
    <div class="wrapper wrapper-content">
        <div class="col-sm-12">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message | trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}


            {{ form_start(form, { 'action': path('clm_user_password_edit',{id:user.id}), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_passwordit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}


