{% extends '::default/index.html.twig' %}
{% block title %}{{ 'Newsletter' | trans({}, 'newsletter') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/summernote/summernote.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/summernote/summernote-bs3.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ 'Newsletter' | trans({}, 'newsletter') }}</h2>
            <ol class="breadcrumb">
                <li>
                    {{ 'MCMBuilder' | trans({}, 'media') }}
                </li>
                <li class="active">
                    <strong>{{ 'Newsletter' | trans({}, 'newsletter') }}</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <h1>Newsletter edit</h1>
                    <div class="mail-box">
                        <div class="mail-body">
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                {{ form_label(edit_form.subject) }}
                                <div class="col-sm-10">
                                    {{ form_widget(edit_form.subject) }}
                                </div>
                            </div>
                            <br>
                            <div class="mail-text h-200">
                                {{ form_widget(edit_form.textMessage) }}
                            </div>
                            <div class="clearfix"></div>

                            <div class="mail-body text-right tooltip-demo">
                                <a href="{{ path('newsletter_index') }}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Back to the list"><i class="fa fa-times"></i> Back to the list</a>

                                <input type="submit" value="Edit"  class="btn btn-sm btn-primary" title="Edit">

                            </div>
                            {{ form_end(edit_form) }}
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-primary btn-xs">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/plugins/summernote/summernote.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('.summernote').summernote({focus: false});
            });
        </script>
    {% endblock %}

