{% trans_default_domain 'FOSUserBundle' %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ 'profile' | trans({}, 'profile') }}</h2>
        <ol class="breadcrumb">

            <li class="active">
                <strong>{{ 'profile' | trans({}, 'profile') }} | {{ 'users.password_update' | trans({}, 'users') }}</strong>
            </li>
        </ol>
    </div>
    <div class="wrapper wrapper-content">
        <div class=ibox">
            <div class="ibox-content">
                <div class="col-sm-12">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message | trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}


                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }} "  class="btn btn-success pull-left" />
                </div>
                {{ form_end(form) }}

                </div>
                <div class="clear-both"></div>
            </div>

        </div>
    </div>
</div>
