{% extends '::default/index.html.twig' %}
{% block title %}{{ 'workflows.new_workflow' | trans({}, 'workflows') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="col-sm-12">{{ dump(twigPath) }}</div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2> {{ 'workflows.new_workflow' | trans({}, 'workflows') }}</h2>
            <ol class="breadcrumb">
                <li>
                    <strong>{{ 'MCMBuilder' | trans({}, 'presentations') }} </strong>
                </li>
                <li>
                    <strong> {{ 'administration'| trans({}, 'project') }} </strong>
                </li>
                <li>
                    <strong>{{ 'workflows' | trans({}, 'workflows') }}</strong>
                </li>
                <li class="active">
                    <strong> {{ 'workflows.new_workflow' | trans({}, 'workflows') }}</strong>
                </li>
            </ol>
        </div>

        <div class="col-sm-8">
            <div class="title-action">
                <a href="#" class="btn btn-primary">This is action area</a>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}

    {{ parent () }}

{% endblock %}