<!DOCTYPE HTML>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <!-- Define Charset -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <title>Email invitation Congres</title>
    <!-- Responsive Styles and Valid Styles -->
    <style type="text/css">
        /****/


        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }
        p, h1, h2, h3, h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        span.preheader {
            display: none;
            font-size: 1px;
        }
        html {
            width: 100%;
        }
        table {
            font-size: 14px;
            border: 0;
        }
        /*.background-opacity{
            background: rgba(9,73,108,0.7);
        }*/
        /* ----------- responsivity ----------- */

        @media only screen and (max-width: 640px) {
            .resbutton{
                font-size: 16px !important;
                line-height: 20px !important;
            }
            .resbutton1{
                line-height: 17px !important;
            }
            body[yahoo] .container590 {
                width: 440px !important;
            }
            body[yahoo] .main-image img {
                width: 440px !important;
                height: auto !important;
            }
            body[yahoo] .section-item {
                width: 440px !important;
            }
            body[yahoo] .section-img img {
                width: 440px !important;
                height: auto !important;
            }
        }
        @media only screen and (max-width: 479px) {
            .resbutton{
                font-size: 12px !important;
                line-height: 20px !important;
            }
            .resbutton1{
                /*width: 90% !important;*/
                line-height: 17px !important;
            }
            body[yahoo] .container590 {
                width: 280px !important;
            }
            body[yahoo] .section-img img {
                width: 280px !important;
                height: auto !important;
            }
            body[yahoo] .sectiontd {
                width: 280px !important;
                height: 100px !important;
            }
            body[yahoo] .imagetd img {
                width: 125px !important;
                height: auto !important;
                padding: 0 30%;
            }
        }
    </style>
</head>
<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="" mc:variant="main section" mc:repeatable="promail" class="main_color">
    <tbody>
    <tr>
        <td background="bg.jpg" style="background-image: url(\\ARGOS-TN2/www/ARGOLIFE/ARGOWEB/congress/img/bg.jpg); /* background-size: 100% 100%; */ background-position: center top; background-repeat: no-repeat;">
            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" class="container590">
                <tbody>
                <tr>
                    <td>
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="">
                            <tbody>
                            <tr>
                                <td>
                                    <table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" class="container590">
                                        <tbody>
                                        <tr>
                                            <td height="20" style="">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td width="25" align="center">
                                                        </td>
                                                        <td align="center"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr height="12"></tr>
                                        <tr>
                                            <td>
                                                <img width="100%" border="0" src="{{ hostUrl}}/img/header_mcm.jpg" alt="" style="display: block; width: 100%;">
                                            </td>
                                        </tr>

                                        <tr height="55"></tr>
                                        <table border="0" align="center" width="480" cellpadding="0" cellspacing="0" class="container590">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic','arial'; line-height:24px; color: #181c49;"> {{ 'presentation.title.pdfemail' | trans({}, 'presentations') }}  {{ fullName }} ,</td>
                                            </tr>
                                            <tr height="10"></tr>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left;"> {{ 'presentation.success.pdfemail' | trans({}, 'presentations') }}</td>
                                            </tr>
                                            <tr height="10"></tr>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left;">{{ 'presentation.message.pdfemail' | trans({}, 'presentations') }}  </td>
                                            </tr>
                                            <tr height="10"></tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td width="15%"></td>
                                                            <td width="70%">
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="resbutton1" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="181c49" align="left">
                                                                                <tbody>

                                                                                <tr>
                                                                                    <td>
                                                                                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #fff; font-size: 18px; font-family: 'Century Gothic','arial';font-weight: 300;">
                                                                                                    <div class="resbutton1" style="    padding: 5px;">
                                                                                                        <a  href="{{ urlPDF }}" style="color: #fff;font-weight: bold; text-decoration: none;font-family: 'Century Gothic','arial'; letter-spacing: 0.05em;text-transform: uppercase;border: 1px solid #f69b15;display: block;padding: 10px 2%;width: 96%;" >Download my PDF</a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="15%"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr height="35"></tr>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left;">
                                                    {{ 'presentation.messageemail.pdfemail' | trans({}, 'presentations') }}
                                                    <a href="mailto:support.mcmbuilder@argolife.fr" target="_blank"
                                                       style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left; text-decoration: none;">support.mcmbuilder@argolife.fr.</a></td>
                                            </tr>
                                            <tr height="30"></tr>
                                            <tr>
                                                <td style="font-size: 16px;font-family: 'Century Gothic','arial'; line-height:24px; color: #1e1e3e;text-align: left;text-transform: uppercase;">Get in touch</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img width="31px" border="0" src="{{ hostUrl}}/img/rec.png" alt="" style="display: block; width: 31px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24px"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #1e1e3e;text-align: left;"><span style="font-family: 'Century Gothic','arial'; font-weight: bold;">More info about the MCM Builder:</span>
                                                    <a href="mcm-builder.com" target="_blank" style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left; text-decoration: none;">mcm-builder.com</a></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #1e1e3e;text-align: left;"><span style="font-family: 'Century Gothic','arial'; font-weight: bold;">To contact us:</span>  <a
                                                            href="mailto:support.mcmbuilder@argolife.fr" target="_blank" style="font-size: 14px;font-family: 'Century Gothic regular','arial'; line-height:24px; color: #181c49;text-align: left; text-decoration: none;">support.mcmbuilder@argolife.fr</a></td>
                                            </tr>
                                            <tr>
                                                <td height="24px"></td>
                                            </tr>
                                            {#<tr>#}
                                                {#<td>#}
                                                    {#<table width="100%" cellspacing="0" cellpadding="0">#}
                                                        {#<tbody>#}
                                                        {#<tr>#}
                                                            {#<td width="36.5%"></td>#}
                                                            {#<td width="9%"><a href="#">#}
                                                                    {#<img width="35px" border="0" src="{{ hostUrl}}/img/gmail.png" alt="" style="display: block; width: 35px;"></a>#}
                                                            {#</td>#}
                                                            {#<td width="9%"><a href="#">#}
                                                                    {#<img width="35px" border="0" src="{{ hostUrl}}/img/tweeter.png" alt="" style="display: block; width: 35px;"></a>#}
                                                            {#</td>#}
                                                            {#<td width="9%"><a href="#">#}
                                                                    {#<img width="35px" border="0" src="{{ hostUrl}}/img/linkedin.png" alt="" style="display: block; width: 35px;"></a>#}
                                                            {#</td>#}
                                                            {#<td width="36.5%"></td>#}
                                                        {#</tr>#}
                                                        {#</tbody>#}
                                                    {#</table>#}
                                                {#</td>#}
                                            {#</tr>#}
                                            <tr>
                                                <td height="50px"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <tr height="60px" bgcolor="191b36">
                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td height="15px"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td width="2%"></td>
                                                                    <td width="90%">
                                                                        <table>
                                                                            <tbody>
                                                                            <tr width="100%">
                                                                                <td style="font-size: 11px;font-family: 'Century Gothic regular','arial'; color: #fff;text-align: left;">Copyright © 2016 MCM builder - ARGOLIFE, a VIIHEALTH company </td>
                                                                            </tr>
                                                                            <tr width="100%">
                                                                                <td style="font-size: 11px;font-family: 'Century Gothic regular','arial'; color: #fff;text-align: left;">All rights reserved.</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="8%"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15px"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>






</body>
</html>