{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ 'groups' | trans({}, 'groups') }}</h2>
            <ol class="breadcrumb">
                <li>
                    <strong>{{ 'MCMBuilder' | trans({}, 'presentations') }} </strong>
                </li>
                <li>
                    <strong> {{ 'administration'| trans({}, 'project') }} </strong>
                </li>
                <li class="active">
                    <strong>{{ 'groups' | trans({}, 'groups') }}</strong>
                </li>
            </ol>
        </div>
        <div class="wrapper wrapper-content">
            <div class="col-sm-12 bg-danger" style="padding: 25px; margin-top: 3px;">
                <h3>{{ 'groups' | trans({}, 'groups') }}</h3>
                <ul>
                    <li><a href="{{ path('fos_user_group_new') }}">{{ 'groups.add_new_group' | trans({}, 'groups') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-12">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-warning">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flashMessage }}</div>
                {% endfor %}

                <table class="table table-hover dataTable table-striped width-full" >
                    <thead>
                    <tr>
                        <th>{{ 'groups.name_group' | trans({}, 'groups') }}</th>
                        <th>{{ 'groups.actions' | trans({}, 'groups') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups%}
                        <tr>
                            <td>{{ group.getName() }}</td>
                            <td class="text-nowrap">
                                <a href="{{ path('fos_user_group_edit', {'groupName': group.getName()} ) }}" class="btn" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('fos_user_group_delete', {'groupName': group.getName()} ) }}" class="btn" data-toggle="tooltip" data-original-title="Delete" onclick="return confirm('Are you sure do you want to delete this group?')">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>






{% endblock %}


