{% extends '::default/index.html.twig' %}
{% block title %}My Projects{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ 'companies' | trans({}, 'companies') }}</h2>
            <ol class="breadcrumb">

                <li class="active">
                    <strong>{{ 'companies' | trans({}, 'companies') }} | {{ 'companies.add_new_company' | trans({}, 'companies') }}</strong>
                </li>
            </ol>
        </div>

        <div class="col-sm-8">
            <div class="title-action">
                <a href="#" class="btn btn-primary">This is action area</a>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}

    {{ parent () }}

{% endblock %}